name: "Synchronize with Crowdin"
on:
  workflow_dispatch:
  schedule:
    - cron: "0 0 * * *"

permissions:
  contents: "write"
  pull-requests: "write"

jobs:
  synchronize-with-crowdin:
    runs-on: "ubuntu-24.04"
    steps:
      - name: "Checkout repository"
        uses: "actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8" # v6.0.1
        with:
          persist-credentials: false
      - name: "Crowdin sync"
        uses: "crowdin/github-action@60debf382ee245b21794321190ad0501db89d8c1" # v2.13.0
        with:
          config: ".github/crowdin.yml"
          upload_sources: true
          download_translations: true
          localization_branch_name: "l10n_crowdin_translations"
          create_pull_request: true
          pull_request_base_branch_name: "main"
          pull_request_title: "New Crowdin Translations"
          pull_request_body: "New Crowdin translations by [Crowdin GH Action](https://github.com/crowdin/github-action)"
          commit_message: "Updated translations from Crowdin"
        env:
          GITHUB_TOKEN: "${{ secrets.GITHUB_TOKEN }}"
          CROWDIN_PROJECT_ID: "${{ secrets.CROWDIN_PROJECT_ID }}"
          CROWDIN_PERSONAL_TOKEN: "${{ secrets.CROWDIN_PERSONAL_TOKEN }}"
